/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "css_reset";
@import "splash";
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 3, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
body {
  height: 100%;
}

/* line 7, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
li {
  list-style: none;
}

/* line 10, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
a {
  text-decoration: none;
}

/* line 13, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.splash-wrapper {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(http://res.cloudinary.com/do2rg2v7p/image/upload/v1505951051/grapes_bg_dq9fvt.png);
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center top;
}

/* line 24, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.session-container {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 320px;
  background-color: #dbd8b4;
  margin: 100px auto;
  padding: 15px;
  border-radius: 3px;
  opacity: 0.9;
}

/* line 38, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.session-container * {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}

/* line 43, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.session-container input {
  font-size: 20px;
  height: 32px;
}

/* line 47, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.login-nav {
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

/* line 54, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.button-sign-in {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

/* line 65, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.button-sign-in:hover {
  background-color: #211756;
}

/* line 68, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.button-sign-in a {
  font-family: sans-serif;
  color: white;
}

/* line 72, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.guest-link {
  margin: 10px auto;
  cursor: pointer;
}

/* line 76, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.submit-btn {
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 15px;
  color: white;
  font-family: "Roboto";
  border-radius: 5px;
  border: 2px solid;
  background-color: #3c3176;
}

/* line 88, /Users/Clay/Code/App-Academy/Projects/UnWined/UnWined/app/assets/stylesheets/splash.scss */
.submit-btn:hover {
  cursor: pointer;
  background-color: #211756;
}
