@import '../colors';

// wines#index related styles
.wines-container {
  display: flex;
  justify-content: center;
  font-family: $font-robo;
  background-color: $bg-sand;
  height: 100%;
}
.wine-idx-container {
  display: flex;
  margin-top: 20px;
  width: 700px;
  min-height: 500px;
  background-color: white;
  flex-direction: column;
}
.wine-idx-container h1 {
  font-size: 22px;
}
.wine-idx-header {
  display: flex;
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey-border;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 22px;
    font-weight: 700;
  }
}
.wine-index-item {
  margin: 12px 20px 0px 20px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey-border;
  &:last-child {
    border-bottom: 0;
  }
}
.wine-index-item * {
  text-decoration: none;
}
.wine-item-img {
  // margin-left: 12px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.wine-item-img img {
  height: 100px;
}

.wine-item-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  span {
    margin-bottom: 3px;
  }

}
.wine-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  span i {
    margin-left: 5px
  }
}
.wine-item-title span {
  :first-child span:first-child span {
    margin-left: 7px;
  }
}
.wine-item-detail {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  :first-child + span {
    font-style: italic;
  }
}
.wine-item-detail span {
  margin-left: 15px;
  margin-bottom: 3px;
}
// wine#edit / wine#new, wine#new Form Related Styles
.form-wrapper {
  display: flex;
  justify-content: center;
}
.wine-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  form {
    width: 66%;
  }
}
.input-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  label {
    flex: 1;
  }
  input {
    flex: 2;
  }
}
.form-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  button {
    margin-left: 15px;
  }
}
// wine#show related styles
.wine-show {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.wine-show-header {
  display: flex;
  justify-content: center;
  font-size: 29px;
  margin: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $grey-border;
  span {
    margin-left: 10px;
  }
  h3 {
    font-size: 18px;
  }
}
.wine-show-body {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}
.input-btn {
  display: flex;
  align-items:flex-start;

  button {
    height: 28px;
    min-width: 50px;
    background-color: $dark-purple;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
.input-btn button:hover {
    background-color: $light-purple;
    border-radius: 3px;
  }

.light-purple button {
  background-color: transparent;
  border: 2px solid $dark-purple;
  color: $dark-purple;
}
.light-purple button:hover {
  background-color: $dark-purple;
  color: white;
}

.user-checkin {
  margin-left: 12px;
}
.right-align {
  // position: ;
  // left: 91%;
  // top: 5px;
}

.right-align .align-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
}
