@import url('https://fonts.googleapis.com/css?family=Roboto');

$sand: #dbd8b4;
$bg-sand: #f5f2e8;
$dark-purple: #211756;
$light-purple: #3c3176;
$lighter-purple: #827AAF;
$lightest-purple: #B1ACD0;
$font-robo: 'Roboto';
