@import "./colors.scss";

body {
  height: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.splash-wrapper {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(http://res.cloudinary.com/do2rg2v7p/image/upload/v1506019727/grapes_bg_mruy3k.png);
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center top;
}
.session-container {
  font-family: $font-robo;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 320px;
  background-color: $sand;
  margin: 100px auto;
  padding: 15px;
  border-radius: 3px;
  opacity: 0.9;
}
.session-container * {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}
.session-container input {
  font-size: 20px;
  height: 32px;
}
.login-nav {
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-sign-in {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.button-sign-in:hover {
  background-color: $lighter-purple;
}
.button-sign-in a {
  font-family: sans-serif;
  color: white;
}

.submit-btn {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 15px;
  color: white;
  font-family: $font-robo;
  border-radius: 5px;
  border: 2px solid;
  background-color: $light-purple
}
.submit-btn:hover {
  cursor: pointer;
  background-color: $dark-purple
}
